@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --color-text-primary: rgb(22, 24, 35);
    --color-text-secondary: rgba(22, 24, 35, 0.75);
    --color-text-tertiary: rgba(22, 24, 35, 0.5);
    --color-text-quaternary: rgba(22, 24, 35, 0.34);
    --color-text-primary-rgb: 22, 24, 35;
    --black: #000;
    --white: #fff;
    //Default layout
    --header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

//Custom scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;

    color: var(--color-text-primary);

    scroll-behavior: smooth;
    overflow-y: overlay;
}

button,
input {
    outline: none;
    border: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
}

//Font embeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}
