.menu-list {
    position: relative;
    top: 0;
    left: 16px;

    min-width: 224px;

    .menu-popper {
        position: relative;
        padding-bottom: 8px;

        background-color: var(--white);

        &::before {
            content: '';
            position: absolute;
            top: -9px;
            right: 20px;

            border-width: 0 10px 10px;
            border-style: solid;
            border-color: transparent transparent var(--white);
        }
    }

    .menu-item {
        margin-left: 0;
        color: var(--main-color);
        background-color: var(--white);
    }
}

.menubody {
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 0;
    padding: 9px 16px;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.header {
    position: relative;
    flex-shrink: 0;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    line-height: 2.2rem;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
