.container {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    z-index: 999;
    display: flex;
    justify-content: center;
}

.wrapper {
    height: 100%;
    width: var(--default-layout-width);
    padding-left: 20px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
}
