.container {
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    z-index: 9;

    display: flex;
    flex-direction: column;

    width: 356px;
    padding: 20px 8px 26px;

    background-color: var(--white);

    & section {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 8px;
            right: 8px;
            height: 1px;
            background-color: rgba(var(--main-color-rgb), 0.12);
        }
    }
}
